@import "bourbon";
@import "neat";

html, body{
    width: 100%;
    height: 100%;

    background:linear-gradient(135deg, #223D63, #30546E 75%, #636BA2)
}

*{
    box-sizing: border-box;
}

.container{ 
	@include outer-container; 
	position: relative;
    top: 50%;
	transform: translateY(-50%);
}

.columns-span{ 
	@include span-columns(4); 
	@include shift(4);
	position: relative;
}

.app{
	background-color: silver;
	height: 520px;
}

nav{
	width: 100%;
	height: 49px;
	background-color: blue;

	h3{
		margin: 0;
	}
}
.hamburger{
	width: 28px;
	height: 28px;
	float: left;
}